{% extends 'users/layout.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='users/styles/new.css') }}"></link>
{% endblock %}
{% block title %}Login or Register{% endblock %}
{% block body %}
  <h1>Login or Register</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
        <li class="error">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="form-container">
    <h2>Register</h2>
    <form action="/users/create" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" placeholder="Vanilla">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" placeholder="Ice">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="iceicebaby99@yahoo.com">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="W0rd!2UrM0ther">
      <input type="submit" value="Register">
    </form>
  </div>
  <div class="form-container">
    <h2>Login</h2>
    <form action="/users/login" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="iceicebaby99@yahoo.com">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="W0rd!2UrM0ther">
      <input type="submit" value="Login">
    </form>
  </div>
{% endblock %}